@import "/normalize.css";
@import "/mixins.scss";
body {
  margin: 0;
  background: #F8FCFF;
  color: #4A4A4A;
  font-family: 'Rubik', sans-serif;
  font-weight: lighter;
  font-size: 16px;
  margin-bottom: 500px;
}
a {
  color: #0076FF;
  text-decoration: none;
  &.-disable {
    text-decoration: line-through;
    color: #9B9B9B;
  }
  &:hover {
    color: #EF2850;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  &__block {
    &.-left, &.-right {
      width: 325px;
      @include mobile {
        display: none;
      };
    }
    &.-middle {
      display: flex;
      flex-direction: column;
      text-align: center;
      flex: 0 165px;
      @include mobile {
        margin: 0 auto;
      };
    }
    img {
      width: 100%;
    }

  }
  &__lang {
    margin-top: 38px;
    a {
      color: #4A4A4A;
      margin: 0 5px;
    }
  }
  &__logo {
    margin-top: 50px;
    &__text {
      margin-top: 20px;
    }
  }
}
main {
  max-width: 610px;
  margin: 0 auto;
  @include mobile {
    padding: 0 10px;
  };
}
.title {
  margin-top: 60px;
  text-align: center;
  font-size: 42px;
  line-height: 60px;
  @include mobile {
    font-size: 24px;
    line-height: 36px;
  };
}
.what_happened {
  margin-top: 50px;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  &__emoji {
    vertical-align: middle;
  }
}
.professions {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  @include mobile {
    flex-direction: column;
    justify-content: center;
  };
}
.profession {
  @include mobile {
    text-align: center;
  };
  &__title {
    text-transform: uppercase;
    font-size: 14px;
  }
}

ul.people {
  list-style: none;
  padding: 0;
  li {
    font-size: 18px;
    line-height: 33px;
  }
}
.employees {
  margin-top: 80px;
}
.employee {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 7px 0 hsla(0,0%,4%,.05), 3px 27px 54px -34px rgba(0,0,0,.47);
  transition: .3s box-shadow;
  will-change: box-shadow;
  transform: translate3d(0,0,0);
  &:hover {
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.07);
  }
  &__photo {
    flex: 0 150px;
    img {
      width: 100%;
      vertical-align: top;
    }
  }
  &__text {
    flex: 0 320px;
    &__name {
      font-size: 36px;
      line-height: 48px;
      background: linear-gradient(left, #131ED2, #FF007F);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    &__position {
      margin-top: 5px;
      font-size: 14px;
      text-transform: uppercase;
    }
    &__feature {
      margin-top: 20px;
      line-height: 24px;
    }
    &__links {
      margin-top: 20px;
      font-size: 18px;
      &.-dot {
        color: #C2C4CD;
        padding: 0 5px;
      }
    }
  }
}
