@import "/normalize.css";
@import "/mixins.scss";
body {
  margin: 0;
  background: #F8FCFF;
  color: #4A4A4A;
  font-family: 'Rubik', sans-serif;
  font-weight: lighter;
  font-size: 16px;
}
a {
  color: #0076FF;
  text-decoration: none;
  &.-disable {
    text-decoration: line-through;
    color: #9B9B9B;
  }
  &:hover {
    color: #EF2850;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  &__block {
    &.-left, &.-right {
      max-width: 320px;
      @include mobile {
        max-width: 100px;
      };
    }
    &.-middle {
      display: flex;
      flex-direction: column;
      text-align: center;
      flex: 0 120px;
      @include mobile {
        margin: 0 auto;
      };
    }
    img {
      width: 100%;
    }

  }
  &__lang {
    margin-top: 38px;
    a {
      color: #4A4A4A;
      margin: 0 5px;
    }
  }
  &__logo {
    margin-top: 50px;
    &__text {
      margin-top: 20px;
    }
  }
}
main {
  max-width: 610px;
  margin: 0 auto;
  @include mobile {
    padding: 0 20px;
  };
}
.title {
  margin-top: 20px;
  text-align: center;
  font-size: 42px;
  line-height: 60px;
  @include mobile {
    margin-top: 40px;
    font-size: 24px;
    line-height: 36px;
  };
}
.what_happened {
  margin-top: 50px;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  @include mobile {
    margin-top: 40px;
    font-size: 16px;
    line-height: 28px;
  };
  &__emoji {
    vertical-align: middle;
  }
}
.professions {
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
  @include mobile {
    display: none;
  };
}
.profession {
  @include mobile {
    text-align: center;
  };
  &__title {
    text-transform: uppercase;
    font-size: 14px;
  }
}

ul.people {
  list-style: none;
  padding: 0;
  li {
    font-size: 18px;
    line-height: 33px;
  }
}
.employees {
  margin-top: 80px;
}
.employee {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 7px 0 hsla(0,0%,4%,.05), 3px 27px 54px -34px rgba(#080129,.47);
  transition: .3s box-shadow;
  will-change: box-shadow;
  transform: translate3d(0,0,0);
  @include mobile {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    text-align: center;
  };
  &:hover {
    box-shadow: 0 3px 10px 0 rgba(#080129,.07);
    @include mobile {
      box-shadow: 0 2px 7px 0 hsla(0,0%,4%,.05), 3px 27px 54px -34px rgba(#080129,.47);
    };
  }
  &__photo {
    flex: 0 150px;
    max-height: 150px;
    @include mobile {
      flex: 0 100px;
      max-height: 100px;
      max-width: 100px;
    };
    img {
      width: 100%;
      vertical-align: top;
    }
  }
  &__text {
    flex: 0 320px;
    @include mobile {
      flex: 1;
      margin-top: 20px;
    };
    &__name {
      font-size: 36px;
      line-height: 48px;
      background: linear-gradient(left, #131ED2, #FF007F);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      @include mobile {
        font-size: 28px;
        line-height: 38px;
      };
    }
    &__position {
      margin-top: 5px;
      font-size: 14px;
      text-transform: uppercase;
      @include mobile {
        font-size: 12px;
        line-height: 14px;
      };
    }
    &__feature {
      margin-top: 20px;
      line-height: 24px;
    }
    &__links {
      margin-top: 20px;
      font-size: 18px;
      .hired & {
        display: none;
      }
      @include mobile {
        font-size: 16px;
        line-height: 28px;
      };
      &.-dot {
        color: #C2C4CD;
        padding: 0 5px;
        &:last-child {
          display: none;
        }
      }
    }
  }
}

.footer {
  margin-top: 100px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  vertical-align: top;
  font-size: 24px;
  @include mobile {
    margin-top: 40px;
  };
  &__left, &__right {
    width: 380px;
    position: relative;
    img {
      width: 100%;
      position: absolute;
      bottom: 0;
    }
  }
  &__social {
    flex: 0 610px;
    text-align: center;
    line-height: 36px;
    padding-bottom: 150px;
    @include mobile {
      font-size: 16px;
      line-height: 22px;
      padding-bottom: 60px;
    };
    &__buttons {
      margin-top: 30px;
    }
  }
  #st-1 .st-btn[data-network='facebook'],
  #st-1 .st-btn[data-network='vk'],
  #st-1 .st-btn[data-network='twitter'] {
    background-color: #0076FF;
    transition: 0.2s ease-in;
    &:hover {
      box-shadow: 0px 5px 15px rgba(#0076FF, 0.5);
    }
  }
  #st-1 .st-btn {
    margin-right: 18px;
  }
}
